<form method='POST' action='/courses/store' style='margin: 20px 12px;'>
    <div style=' display: flex;flex-direction: column'>
        <label style='color: orange;font-weight: bold; margin: 30px 0 8px' for='name'>name</label>
        <input style='width: 220px; padding: 6px 8px; outline:none' type='text' name='name' id='name' />
    </div>
    <div style=' display: flex;flex-direction: column'>
        <label style='color: orange;font-weight: bold; margin: 30px 0 8px' for='description'>description</label>
        <input style='width: 220px; padding: 6px 8px; outline:none' type='text' name='description' id='description' />
    </div>

    <button
        style='padding: 12px 22px; margin: 12px 0 0; border: none; backgruond-color: #ccc; color: black; font-weight: bold; font-size: 16px; cursor: pointer'
        type='submit'
    >send</button>
</form>