<form method='POST' action='/courses/{{courses._id}}?_method=PUT' style='margin: 20px 12px;'>
    <h1>Update Courses</h1>
    <div style=' display: flex;flex-direction: column'>
        <label style='color: orange;font-weight: bold; margin: 30px 0 8px' for='name'>name</label>
        <input
            style='width: 220px; padding: 6px 8px; outline:none'
            type='text'
            name='name'
            id='name'
            value='{{courses.name}}'
        />
    </div>
    <div style=' display: flex;flex-direction: column'>
        <label style='color: orange;font-weight: bold; margin: 30px 0 8px' for='description'>description</label>
        <input
            style='width: 220px; padding: 6px 8px; outline:none'
            type='text'
            name='description'
            id='description'
            value='{{courses.description}}'
        />
    </div>

    <button
        style='padding: 10px 18px; margin: 12px 0 0; border: none; background-color: #0080f9f5; color: white; font-weight: bold; font-size: 16px; cursor: pointer;border-radius: 4px'
        type='submit'
    >Save</button>
</form>