<html>
    <head>
        <meta charset='utf-8' />
        <title>Example App</title>
    </head>
    <body>
        <div
            style='background-color: #ccc;  padding: 26px 40px; display:flex;
        align-item:center'
        >
            <a href='/' style='color: #000; text-decoration: none;font-size:20px;font-weight:bold;margin: 0 20px'>
                Home
            </a>
            |
            <a
                href='/courses/create'
                style='color: #000; text-decoration: none;font-size:20px;font-weight:bold;margin: 0 20px'
            >
                Create new Courses
            </a>
            |
            <a
                href='/me/stored/courses'
                style='color: #000; text-decoration: none;font-size:20px;font-weight:bold;margin: 0 20px'
            >
                My course
            </a>
        </div>
        {{{body}}}
        <h1>footer</h1>
    </body>
</html>